@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #000000;

    --borderColor: #f1f1f1;
    --LineColor: #d9d9d9;

    --PrimaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #3EB489;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif ;
}

h1,h2,h3,h4,h5,h6,  strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-widht: 1200px) {
    .main-container {
        width: 90%;
    }
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--LineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.grid-3 {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
}

.grid-2 {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(2, auto);
}

.grid-6 {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(6, auto);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;
}

.logo a {
    color: var(--primaryIconColor);
}

.logo a span {
    color:  #2f3966;
}

nav ul li {
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav ul li a {
    color: var(--primaryTextColor);
}

nav ul li a:hover {
    background-color: var(--PrimaryBackgroundColor);
    color: var(--primaryIconColor);
}

#hero {
    /* height: 500px; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right img {
    width: 60%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

#karakters {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.karakters .pre-title {
    margin: 0 auto;
}

.karakters-title {
    text-align: center;
}

.karakter {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--PrimaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.karakter h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.karakter-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.karakter-icon svg {
    fill: var(--primaryIconColor);
}

#pendidikans {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.pendidikans .pre-title {
    margin: 0 auto;
}

.pendidikans-title {
    text-align: center;
}

.pendidikan {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--PrimaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.pendidikan h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.pendidikan-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.pendidikan-icon svg {
    fill: var(--primaryIconColor);
}

#works {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.works .pre-title {
    margin: 0 auto;
}

.works-title {
    text-align: center;
}

.work {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--PrimaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.work h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.work-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.work-icon svg {
    fill: var(--primaryIconColor);
}

#Kontaks {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.Kontaks .pre-title {
    margin: 0 auto;
}

.Kontak-title {
    text-align: center;
}

.Kontak {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--PrimaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.Kontak h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.Kontak-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.Kontak-icon svg {
    fill: var(--primaryIconColor);
}

#contact {
    padding: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .contact {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
  
  .contact-form div {
    margin-bottom: 1.4rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #9d9fa1;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
  }
  
  .btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn-submit:hover {
    background-color: black;
  }
  
  .contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-item-icon svg {
    fill: var(--primaryIconColor);
  }
  
  .contact-item-detail h4 {
    margin-bottom: 0.6rem;
  }

  footer {
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
  }
  
  .footer-icons {
    margin-bottom: 1rem;
  }
  
  .footer-icons a {
    margin: 0 0.5rem;
  }
  
  .footer-icons svg {
    fill: #3e3f40;
  }
  
  .footer-icons a:hover svg {
    fill: #000;
  }
